<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/chatbot.css' %}">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
</head>

<body style="background-color: azure;">
    <nav class="navbar navbar-expand-sm bg-info">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <span class="status-chatbot"></span>&nbsp; Chat Online
                </a>
            </li>
        </ul>
    </nav>
    <br>
    <div class="">
        <div class="chatbot-container" aling="center" id="msg">
            <div class="row">
                <div class="col align-self-start">
                    <div class="talk-bubble talk-ballon-left balloon-left" style="background-color: #00aabb;">
                        <div class="talktext text-left">
                            <p>Olá! Em que posso ajudar?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- onde o usuario digita -->
        <!-- Se o evento corresponder a tecla enter, sera enviado a mensagem -->
        
            <div class="input-group chatbot-input">
                <input class="form-control" type="text" id="input" onkeypress="return Send(event)" placeholder="Digite a sua mensagem e tecle Enter...">
                <span class="input-group-text"><i class="bi bi-send"></i></span>
            </div>
            
    </div>

    <script type="text/javascript" src="{% static 'home/js/chatbot.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>

</html>